{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/custom.css"> -->

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
</head>

<body>
    {% include 'navigation.html' %}

    <!--  content-->
    <div class="container mt-5">
        <div class="contact-form-container">
            <h2 class="text-center">Contact Us</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>