{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch-House</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/custom.css"> -->

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
</head>

<body>
    {% include 'navigation.html' %}
    <div id="watchCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"> <!-- 3000ms = 3 seconds -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://as2.ftcdn.net/v2/jpg/08/11/15/37/1000_F_811153701_7gPmVssUpwljTVrE7vlMDzfINZqQuJY6.jpg" class="d-block w-100" alt="Watch 1">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/premium-psd/black-friday-watch-sale-social-media-design_496781-411.jpg?semt=ais_hybrid" class="d-block w-100" alt="Watch 2">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-psd/super-sale-black-friday-facebook-cover-banner-template_120329-1058.jpg?semt=ais_hybrid" class="d-block w-100" alt="Watch 3">
        </div>
    </div>
    <!-- Navigation buttons are now hidden since the carousel moves automatically -->
    <button class="carousel-control-prev visually-hidden"  type="button" data-bs-target="#watchCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#watchCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Products</h1>
                    <p>
                        All the different types of watches for evryone
                    </p>
                </div>
            </div>
            <div class="row">
                {% for watch in watches %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <!-- Watch Image -->
                        <img src="{{ watch.image_url }}" class="card-img-top" alt="{{ watch.title }}">

                        <div class="card-body d-flex flex-column">
                            <!-- Watch Title -->
                            <h5 class="card-title">{{ watch.title }}</h5>

                            <!-- Watch Price and Details -->
                            <p class="card-text">
                                Price: ${{ watch.price }}
                            </p>
                            <p class="text-muted">
                                Brand: {{ watch.brand.brand_name }} <br>
                                Gender: {{ watch.gender.gender_name }} <br>
                                Type: {{ watch.type.type_name }}
                            </p>

                            <!-- Add to Cart Button -->
                            <a href="{% url 'add_to_cart' watch.watch_id %}" class="btn btn-primary mt-auto">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    {% include 'footer.html' %}

</body>

</html>