{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch-House</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
</head>

<body>
    {% include 'navigation.html' %}
    <div class="container mt-5">
        <div class="text-center">
            <h2>Thank You for Contacting Us!</h2>
            <p>We have received your message and will get back to you shortly.</p>
        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>